body {
  width: auto;
  min-width: 400px;
  margin: 10px; /* Reset default margins */
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between content and bottom container */
}

#todo-list {
  flex-grow: 1; /* Allow the todo-list to fill available space */
  /* Add any additional styling for the todo-list here */
}

.bottom-container {
  display: flex;
  justify-content: space-between; /* Align children to the opposite ends */
}

.list-button-container {
  align-self: flex-end; /* Align to the bottom */
  /* Additional styling for button container */
}

.input-task-container {
  color: white;
  align-self: flex-end; /* Align to the bottom */
  /* Removed align-self: flex-end; as it's now within bottom-container */
  /* Additional styling for input container */
}

.task-completed {
  text-decoration: line-through;
  color: #888;
}

.tracking-time {
  color: orange;
}

.list-button-container,
.input-task-container {
  margin: 10px 0; /* Add some vertical space */
}
